[Unit]
Description=Hadoop Namenode
After=network-online.target hadoop-namenode-format.service
Wants=network-online.target

[Service]
User=admin
Group=admin
EnvironmentFile=/home/admin/hadoop.env
ExecStart=/usr/hadoop/bin/hdfs namenode
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
