[Unit]
Description=Hadoop MapReduce JobHistory Server
After=network-online.target hadoop-resourcemanager.service
Wants=network-online.target hadoop-resourcemanager.service

[Service]
User=admin
Group=admin
EnvironmentFile=/home/admin/hadoop-hbase.env
ExecStart=/usr/hadoop/bin/mapred historyserver start
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
