[Unit]
Description=Hadoop Datanode
After=network-online.target
Wants=network-online.target

[Service]
User=admin
Group=admin
EnvironmentFile=/home/admin/hadoop-hbase.env
ExecStartPre=/bin/nc -v -z -w 3 -4 primarymaster 16000
# will block start from happening; TODO: figure out why Hadoop datanodes don't recover properly
ExecStart=/usr/hadoop/bin/hdfs datanode
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
