[Unit]
Description=Hadoop Resourcemanager
After=network-online.target
Wants=network-online.target

[Service]
User=admin
Group=admin
ExecStart=/usr/hadoop/bin/yarn --daemon start resourcemanager
ExecStop=/usr/hadoop/bin/yarn --daemon stop resourcemanager
PIDFile=/tmp/hadoop-admin-resourcemanager.pid
KillSignal=SIGTERM
# JVM sigterm results in exit code 143
SuccessExitStatus=143
#LimitNOFILE= can set open file limit here
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
