[Unit]
Description=Hadoop MapReduce JobHistory Server
After=network-online.target hadoop-resourcemanager.service
Wants=network-online.target hadoop-resourcemanager.service

[Service]
User=admin
Group=admin
ExecStart=/usr/hadoop/bin/mapred --daemon start historyserver
ExecStop=/usr/hadoop/bin/mapred --daemon stop historyserver
PIDFile=/tmp/hadoop-admin-historyserver.pid
KillSignal=SIGTERM
# JVM sigterm results in exit code 143
SuccessExitStatus=143
#LimitNOFILE= can set open file limit here
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
