[Unit]
Description=HBase Zookeeper Node
After=network-online.target
Wants=network-online.target

[Service]
User=admin
Group=admin
EnvironmentFile=/home/admin/hadoop-hbase.env
# block until names resolve
ExecStartPre=/bin/bash -c "echo 'primarymaster regionserver2 regionserver3' | tr ' ' '\n' | xargs /usr/bin/systemd-resolve"
ExecStart=/usr/hbase/bin/hbase zookeeper
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
