[Unit]
Description=HBase Region Server
After=network-online.target hbase-znode.service
Wants=network-online.target hbase-znode.service

[Service]
User=admin
Group=admin
EnvironmentFile=/home/admin/hadoop.env
EnvironmentFile=/home/admin/hbase.env
# duplicated from the primarymaster service file
ExecStartPre=/bin/bash -c "V=$(echo 'stat' | nc -v -w 3 -4 localhost 2181 2> /dev/null | grep -oP 'Node count: \K.+'); ((V > 3))"
ExecStart=/usr/hbase/bin/hbase regionserver start
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
